In [1]:
'''
This file reads json file in project/hand_pose/hand_labels.csv and output project/hand_pose/train_labels.csv and project/hand_pose/test_labels.csv
'''

'\nThis file reads json file in project/hand_pose/hand_labels.csv and output project/hand_pose/train_labels.csv and project/hand_pose/test_labels.csv\n'

In [2]:
import numpy as np
import pandas as pd
import os
np.random.seed(1)

In [3]:
base_dir = "../hand_pose"
csv_file = os.path.join(base_dir, 'hand_labels.csv')
split_ratio = 0.8

In [4]:
labels = pd.read_csv(csv_file)

In [5]:
labels.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,class,filename,height,width,xmax,xmin,ymax,ymin
0,0,0.0,0.0,0.0,0.0,0.0,hand,000_257.jpg,175,132,1172,1040,553,378
1,1,1.0,1.0,1.0,1.0,1.0,hand,000_2495.jpg,138,106,905,799,531,393
2,2,2.0,2.0,2.0,2.0,2.0,hand,000_2495.jpg,149,101,1172,1071,532,383
3,3,3.0,3.0,3.0,3.0,3.0,hand,000_281.jpg,130,136,1013,877,826,696
4,4,4.0,4.0,4.0,4.0,4.0,hand,000_281.jpg,165,131,1165,1034,571,406

In [6]:
len(labels)

250

In [7]:
grouped = labels.groupby('filename')

In [8]:
grouped.apply(lambda x: len(x)).value_counts()

1    73
2    54
3     7
4     6
6     4
dtype: int64

### split each file into a group in a list

In [9]:
gb = labels.groupby('filename')

In [10]:
grouped_list = [gb.get_group(x) for x in gb.groups]

In [11]:
length = len(grouped_list)

In [12]:
train_index = np.random.choice(length, size=int(length*split_ratio), replace=False)
test_index = np.setdiff1d(list(range(length)), train_index)

In [13]:
len(train_index), len(test_index)

(115, 29)

In [14]:
# take first 200 files
train = pd.concat([grouped_list[i] for i in train_index])
test = pd.concat([grouped_list[i] for i in test_index])

In [15]:
len(train), len(test)

(206, 44)

In [16]:
train.to_csv(os.path.join(base_dir, 'train_labels.csv'), index=None)
test.to_csv(os.path.join(base_dir, 'test_labels.csv'), index=None)
print("train and test labels success")

train and test labels success